.voltmxfw_baseskincss,
.CopydefLabel0d3f53085fb4045,
.CopydefLabel0dda5a3d6377e4a,
.CopydefLabel0h07bcf3cbfe34e,
.CopydefLabel0he825ba90cfa42,
.CopydefLabel0j55906a981f546,
.defLabel,
.sknCancelFP,
.sknFileNameFP,
.sknLabelSeparator,
.sknLblDescription,
.sknLblLogs,
.sknLblName,
.sknLblNameBold,
.sknLblNoNotes,
.sknLblNoteHeader,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknLogsDesc,
.sknLogsHeading,
.sknLogsSep,
.sknSectionHeaderLabelSkin,
.sknlblHeaderFP,
.sknlblResetAlert1FP,
.sknlblResetAlert2FP,
.sknlblResetAlert3FP,
.sknlblSepSegFP,
.sknlblTemenosBlue,
.CopyslForm0i0856960549343,
.slForm,
.slSplashiOS,
.slWatchForm,
.SknBtnExitApp,
.defBtnBlockedUI,
.defBtnFocus,
.defBtnHover,
.defBtnNormal,
.defBtnPressed,
.dynSkinDownAV,
.dynSkinSubmitAV,
.sknBtnNoteCloseAV,
.sknBtnNotesUPAV,
.sknBtnOff,
.sknBtnOn,
.sknBtnWhiteMLFP,
.sknFocusLogsLabelDesp,
.sknFocusLogsLabels,
.sknFocusLogsLabelsios,
.sknFocusLogsOptionLabels,
.sknFocusNotes,
.sknFocusNotesios,
.sknLogsOptionLabels,
.sknLogsbtnClear0d82e40a361ac46,
.sknLogsbtnFullScreen0ea3e1515b1a541,
.sknbtnAC,
.sknbtnCancelFP,
.sknbtnFPViewSrc,
.sknbtnProceedFP,
.SknRchTxt37414BSFPROReg,
.defListBoxFocus,
.defListBoxNormal,
.defTextAreaBlockedUI,
.defTextAreaHover,
.sknTxtAreaBG788EA9Focus,
.sknTxtAreaBG788EA9Normal,
.sknTxtAreaBG788EA9PH,
.skntxtAreaFP,
.defTextBoxBlockedUI,
.defTextBoxFocus,
.defTextBoxNormal,
.defTextBoxPlaceholder,
.skntxtBoxFP,
.slCameraFocus {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.voltmxcustomcss {
    font-size: 16px;

}





.CopydefLabel0d3f53085fb4045,
[kw].CopydefLabel0d3f53085fb4045-hover,
[kw].CopydefLabel0d3f53085fb4045-focus,
[kw].CopydefLabel0d3f53085fb4045-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0dda5a3d6377e4a,
[kw].CopydefLabel0dda5a3d6377e4a-hover,
[kw].CopydefLabel0dda5a3d6377e4a-focus,
[kw].CopydefLabel0dda5a3d6377e4a-active {

















    font: normal 400 32.0px Helvetica;





    color: #4cacf5;












    background-color: rgba(255, 255, 255, 0.0);











}

















border:none;
color:green;



.CopydefLabel0h07bcf3cbfe34e,
[kw].CopydefLabel0h07bcf3cbfe34e-hover,
[kw].CopydefLabel0h07bcf3cbfe34e-focus,
[kw].CopydefLabel0h07bcf3cbfe34e-active {

















    font: normal 400 32.0px Helvetica;





    color: #add8e6;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0he825ba90cfa42,
[kw].CopydefLabel0he825ba90cfa42-hover,
[kw].CopydefLabel0he825ba90cfa42-focus,
[kw].CopydefLabel0he825ba90cfa42-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0j55906a981f546,
[kw].CopydefLabel0j55906a981f546-hover,
[kw].CopydefLabel0j55906a981f546-focus,
[kw].CopydefLabel0j55906a981f546-active {













































    font: normal 400 32.0px Helvetica;





    color: #add8e6;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopyslFbox0ae4610af24f94b,
[kw].CopyslFbox0ae4610af24f94b-hover,
[kw].CopyslFbox0ae4610af24f94b-focus,
[kw].CopyslFbox0ae4610af24f94b-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(219, 9, 9, 0.0);











}





















.CopyslFbox0c72806c675c54c,
[kw].CopyslFbox0c72806c675c54c-hover,
[kw].CopyslFbox0c72806c675c54c-focus,
[kw].CopyslFbox0c72806c675c54c-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0c74317948c5543,
[kw].CopyslFbox0c74317948c5543-hover,
[kw].CopyslFbox0c74317948c5543-focus,
[kw].CopyslFbox0c74317948c5543-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}

















.CopyslFbox0cee2358204324c,
[kw].CopyslFbox0cee2358204324c-hover,
[kw].CopyslFbox0cee2358204324c-focus,
[kw].CopyslFbox0cee2358204324c-active {
    background-color: white;
    border: 10px solid #F2F2F2;
    border-radius: 6px;
    opacity: 1
}




.CopyslFbox0e086f54d68744e,
[kw].CopyslFbox0e086f54d68744e-hover,
[kw].CopyslFbox0e086f54d68744e-focus,
[kw].CopyslFbox0e086f54d68744e-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(255, 255, 255, 0.0);











}





















.CopyslFbox0e4fbf5879e9d4a,
[kw].CopyslFbox0e4fbf5879e9d4a-hover,
[kw].CopyslFbox0e4fbf5879e9d4a-focus,
[kw].CopyslFbox0e4fbf5879e9d4a-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.18);











}

















.CopyslFbox0f7601fb13ef444,
[kw].CopyslFbox0f7601fb13ef444-hover,
[kw].CopyslFbox0f7601fb13ef444-focus,
[kw].CopyslFbox0f7601fb13ef444-active {
    background-color: white;
    opacity: 1
}




.CopyslFbox0hfa72fcff73741,
[kw].CopyslFbox0hfa72fcff73741-hover,
[kw].CopyslFbox0hfa72fcff73741-focus,
[kw].CopyslFbox0hfa72fcff73741-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(179, 39, 58, 0.0);











}

















.CopyslFbox0i50b2a8002fd47,
[kw].CopyslFbox0i50b2a8002fd47-hover,
[kw].CopyslFbox0i50b2a8002fd47-focus,
[kw].CopyslFbox0i50b2a8002fd47-active {
    background-color: white;

    opacity: 1
}

.CopyslFbox0jb4e5b9ffa5743,
[kw].CopyslFbox0jb4e5b9ffa5743-hover,
[kw].CopyslFbox0jb4e5b9ffa5743-focus,
[kw].CopyslFbox0jb4e5b9ffa5743-active {
    background-color: white;

    opacity: 1
}





.CopyslForm0i0856960549343,
[kw].CopyslForm0i0856960549343-hover,
[kw].CopyslForm0i0856960549343-focus,
[kw].CopyslForm0i0856960549343-active {























































    background-color: #eef1f0;














}





















.SknBtnExitApp,
[kw].SknBtnExitApp-hover,
[kw].SknBtnExitApp-focus,
[kw].SknBtnExitApp-active {










    border: 1px solid rgba(255, 255, 255, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal normal 25.6px sf-pro-text-regular;





    color: #ffffff;












    background: #003e75;











}





















.SknRchTxt37414BSFPROReg,
[kw].SknRchTxt37414BSFPROReg-hover,
[kw].SknRchTxt37414BSFPROReg-focus,
[kw].SknRchTxt37414BSFPROReg-active,
[kw=RichText].SknRchTxt37414BSFPROReg,
[kw].SknRchTxt37414BSFPROReg-hover,
[kw].SknRchTxt37414BSFPROReg-focus,
[kw].SknRchTxt37414BSFPROReg-active-link a,
[kw=RichText].SknRchTxt37414BSFPROReg,
[kw].SknRchTxt37414BSFPROReg-hover,
[kw].SknRchTxt37414BSFPROReg-focus,
[kw].SknRchTxt37414BSFPROReg-active-linkfocus a:active {

















    font: normal normal 17.1px sf-pro-text-regular;





    color: #37414b;












    background-color: rgba(0, 0, 0, 0.0);












    text-decoration: none;


}





















.defBtnBlockedUI,
[kw].defBtnBlockedUI-hover,
[kw].defBtnBlockedUI-focus,
[kw].defBtnBlockedUI-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #8F8F8F;












    background: #E6E6E6;











}





















.defBtnFocus,
[kw].defBtnFocus-hover,
[kw].defBtnFocus-focus,
[kw].defBtnFocus-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #7E909E;











}





















.defBtnHover,
[kw].defBtnHover-hover,
[kw].defBtnHover-focus,
[kw].defBtnHover-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;











}





















.defBtnNormal,
[kw].defBtnNormal-hover,
[kw].defBtnNormal-focus,
[kw].defBtnNormal-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #587387;











}





















.defBtnPressed,
[kw].defBtnPressed-hover,
[kw].defBtnPressed-focus,
[kw].defBtnPressed-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #354958;











}





















.defLabel,
[kw].defLabel-hover,
[kw].defLabel-focus,
[kw].defLabel-active {










    border: 1px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defListBoxFocus,
[kw].defListBoxFocus-hover,
[kw].defListBoxFocus-focus,
[kw].defListBoxFocus-active,
div[kw='ListBox'][kv='editableview']~ul>li.defListBoxFocus-hover {










    border: 1px solid #4b88f1;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;











}


























.defListBoxNormal,
[kw].defListBoxNormal-hover,
[kw].defListBoxNormal-focus,
[kw].defListBoxNormal-active,
div[kw='ListBox'][kv='editableview']~ul>li.defListBoxNormal-hover {










    border: 1px solid #333333;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;











}


























.defTextAreaBlockedUI,
[kw].defTextAreaBlockedUI-hover,
[kw].defTextAreaBlockedUI-focus,
[kw].defTextAreaBlockedUI-active {










    border: 1px solid #ADADAD;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #F3F3F3;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']::-moz-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']:-ms-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}







.defTextAreaHover,
[kw].defTextAreaHover-hover,
[kw].defTextAreaHover-focus,
[kw].defTextAreaHover-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaHover']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}







.defTextBoxBlockedUI,
[kw].defTextBoxBlockedUI-hover,
[kw].defTextBoxBlockedUI-focus,
[kw].defTextBoxBlockedUI-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #f3f3f3;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}








.defTextBoxFocus,
[kw].defTextBoxFocus-hover,
[kw].defTextBoxFocus-focus,
[kw].defTextBoxFocus-active {










    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxFocus']::-webkit-input-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']::-moz-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']:-ms-input-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.defTextBoxNormal,
[kw].defTextBoxNormal-hover,
[kw].defTextBoxNormal-focus,
[kw].defTextBoxNormal-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxNormal']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxNormal']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxNormal']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.defTextBoxPlaceholder,
[kw].defTextBoxPlaceholder-hover,
[kw].defTextBoxPlaceholder-focus,
[kw].defTextBoxPlaceholder-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxPlaceholder']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxPlaceholder']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxPlaceholder']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.dynSkinDownAV,
[kw].dynSkinDownAV-hover,
[kw].dynSkinDownAV-focus,
[kw].dynSkinDownAV-active {

















    font: normal normal 24.0px System;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/downarrow.png) no-repeat;
















}





















.dynSkinSubmitAV,
[kw].dynSkinSubmitAV-hover,
[kw].dynSkinSubmitAV-focus,
[kw].dynSkinSubmitAV-active {

















    font: normal normal 24.0px System;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/submit.png) no-repeat;
















}


















.loadskin,
[kw].loadskin-hover,
[kw].loadskin-focus,
[kw].loadskin-active {
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    width: 100%;



    background-color: rgba(171, 178, 186, 0.64);


    background-image: url("./images/$bimgname");
    background-repeat: no-repeat;

    font-family: Arial;




}




.seg0a2ed1d24dbac41,
li[kr='item'].seg0a2ed1d24dbac41-focus,
div[kr='item'].seg0a2ed1d24dbac41-focus,
[kw='SegmentedUI2']>ul.seg0a2ed1d24dbac41-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px default;





    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.seg2Focus,
li[kr='item'].seg2Focus-focus,
div[kr='item'].seg2Focus-focus,
[kw='SegmentedUI2']>ul.seg2Focus-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px System;





    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.seg2Header,
[kw].seg2Header-hover,
[kw].seg2Header-focus,
[kw].seg2Header-active {










    border: 0px solid #000000;


















    font: normal bold 20.8px Helvetica-Bold;





    color: #ffffff;













    background-color: #b7c0c7;











}





















.seg2Normal,
li[kr='item'].seg2Normal-focus,
div[kr='item'].seg2Normal-focus,
[kw='SegmentedUI2']>ul.seg2Normal-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px System;





    color: #000000;













    background-color: #ffffff;











}





















.segRowTrans,
[kw].segRowTrans-hover,
[kw].segRowTrans-focus,
[kw].segRowTrans-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}





















.segTrans,
[kw].segTrans-hover,
[kw].segTrans-focus,
[kw].segTrans-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}





















.sknBtnNoteCloseAV,
[kw].sknBtnNoteCloseAV-hover,
[kw].sknBtnNoteCloseAV-focus,
[kw].sknBtnNoteCloseAV-active {

















    font: normal normal 24.0px System;





    color: rgba(36, 68, 227, 0.81);












    background-color: transparent;




    background: url(../../images/close_av.png) no-repeat;
















}





















.sknBtnNotesUPAV,
[kw].sknBtnNotesUPAV-hover,
[kw].sknBtnNotesUPAV-focus,
[kw].sknBtnNotesUPAV-active {

















    font: normal normal 24.0px System;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/uparrow.png) no-repeat;
















}





















.sknBtnOff,
[kw].sknBtnOff-hover,
[kw].sknBtnOff-focus,
[kw].sknBtnOff-active {

















    font: normal 400 0.0px default;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/offimg.png) no-repeat;
















}





















.sknBtnOn,
[kw].sknBtnOn-hover,
[kw].sknBtnOn-focus,
[kw].sknBtnOn-active {

















    font: normal 400 24.0px default;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/onimg.png) no-repeat;
















}





















.sknBtnWhiteMLFP,
[kw].sknBtnWhiteMLFP-hover,
[kw].sknBtnWhiteMLFP-focus,
[kw].sknBtnWhiteMLFP-active {

















    font: normal normal 23.7px Helvetica;





    color: #ffffff;












    background-color: transparent;




    background: url(../../images/delete_fp.png) no-repeat;
















}





















.sknCancelFP,
[kw].sknCancelFP-hover,
[kw].sknCancelFP-focus,
[kw].sknCancelFP-active {

















    font: normal 400 16.0px System-Bold;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknFileNameFP,
[kw].sknFileNameFP-hover,
[kw].sknFileNameFP-focus,
[kw].sknFileNameFP-active {

















    font: normal 400 16.0px System-Bold;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknFlxHeaderBG3D6E92OP11,
[kw].sknFlxHeaderBG3D6E92OP11-hover,
[kw].sknFlxHeaderBG3D6E92OP11-focus,
[kw].sknFlxHeaderBG3D6E92OP11-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(61, 110, 146, 0.11);











}





















.sknFlxLightRedFP,
[kw].sknFlxLightRedFP-hover,
[kw].sknFlxLightRedFP-focus,
[kw].sknFlxLightRedFP-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #f35a56;











}





















.sknFlxLogsOption,
[kw].sknFlxLogsOption-hover,
[kw].sknFlxLogsOption-focus,
[kw].sknFlxLogsOption-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknFlxMainAv,
[kw].sknFlxMainAv-hover,
[kw].sknFlxMainAv-focus,
[kw].sknFlxMainAv-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.5);











}





















.sknFlxNoteAV,
[kw].sknFlxNoteAV-hover,
[kw].sknFlxNoteAV-focus,
[kw].sknFlxNoteAV-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknFlxSCNoteAV,
[kw].sknFlxSCNoteAV-hover,
[kw].sknFlxSCNoteAV-focus,
[kw].sknFlxSCNoteAV-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknFlxScrollLogs,
[kw].sknFlxScrollLogs-hover,
[kw].sknFlxScrollLogs-focus,
[kw].sknFlxScrollLogs-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.7);











}





















.sknFlxTransAV,
[kw].sknFlxTransAV-hover,
[kw].sknFlxTransAV-focus,
[kw].sknFlxTransAV-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(255, 255, 255, 0.0);











}





















.sknFlxWhiteFP,
[kw].sknFlxWhiteFP-hover,
[kw].sknFlxWhiteFP-focus,
[kw].sknFlxWhiteFP-active {










    border: 0px solid #ffffff;


















    color: #000000;













    background-color: #ffffff;











}





















.sknFocusLogsLabelDesp,
[kw].sknFocusLogsLabelDesp-hover,
[kw].sknFocusLogsLabelDesp-focus,
[kw].sknFocusLogsLabelDesp-active {

















    font: normal bold 14.4px System-Bold;





    color: #003e75;












    background: #ffffff;











}





















.sknFocusLogsLabels,
[kw].sknFocusLogsLabels-hover,
[kw].sknFocusLogsLabels-focus,
[kw].sknFocusLogsLabels-active {

















    font: normal bold 16.0px default;





    color: #003e75;












    background: #ffffff;











}





















.sknFocusLogsLabelsios,
[kw].sknFocusLogsLabelsios-hover,
[kw].sknFocusLogsLabelsios-focus,
[kw].sknFocusLogsLabelsios-active {

















    font: normal bold 16.0px System-Bold;





    color: #003e75;












    background: #ffffff;











}





















.sknFocusLogsOptionLabels,
[kw].sknFocusLogsOptionLabels-hover,
[kw].sknFocusLogsOptionLabels-focus,
[kw].sknFocusLogsOptionLabels-active {

















    font: normal 400 16.0px default;





    color: #003e75;












    background: #ffffff;











}





















.sknFocusNotes,
[kw].sknFocusNotes-hover,
[kw].sknFocusNotes-focus,
[kw].sknFocusNotes-active {

















    font: normal bold 16.0px default;














    background: #ffffff;











}





















.sknFocusNotesios,
[kw].sknFocusNotesios-hover,
[kw].sknFocusNotesios-focus,
[kw].sknFocusNotesios-active {

















    font: normal bold 16.0px System-Bold;














    background: #ffffff;











}





















.sknLabelSeparator,
[kw].sknLabelSeparator-hover,
[kw].sknLabelSeparator-focus,
[kw].sknLabelSeparator-active {










    border: 1px solid rgba(120, 142, 169, 0.49);


















    font: normal 400 32.0px default;





    color: #333333;












    background-color: rgba(120, 142, 169, 0.49);











}





















.sknLblDescription,
[kw].sknLblDescription-hover,
[kw].sknLblDescription-focus,
[kw].sknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblLogs,
[kw].sknLblLogs-hover,
[kw].sknLblLogs-focus,
[kw].sknLblLogs-active {

















    font: normal 400 16.0px default;





    color: #ffffff;













    background-color: #171717;











}





















.sknLblName,
[kw].sknLblName-hover,
[kw].sknLblName-focus,
[kw].sknLblName-active {

















    font: italic normal 19.2px System-Italic;





    color: #37414b;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblNameBold,
[kw].sknLblNameBold-hover,
[kw].sknLblNameBold-focus,
[kw].sknLblNameBold-active {

















    font: normal bold 19.2px System-Bold;





    color: #37414b;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblNoNotes,
[kw].sknLblNoNotes-hover,
[kw].sknLblNoNotes-focus,
[kw].sknLblNoNotes-active {

















    font: normal normal 17.1px sf-pro-text-regular;





    color: #37414b;












    background-color: rgba(55, 65, 75, 0.0);











}





















.sknLblNoteHeader,
[kw].sknLblNoteHeader-hover,
[kw].sknLblNoteHeader-focus,
[kw].sknLblNoteHeader-active {

















    font: normal normal 15.4px sf-pro-text-light;





    color: #788ea9;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblRowHeading,
[kw].sknLblRowHeading-hover,
[kw].sknLblRowHeading-focus,
[kw].sknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.sknLblStrip,
[kw].sknLblStrip-hover,
[kw].sknLblStrip-focus,
[kw].sknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.sknLblTimeStamp,
[kw].sknLblTimeStamp-hover,
[kw].sknLblTimeStamp-focus,
[kw].sknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLogsDesc,
[kw].sknLogsDesc-hover,
[kw].sknLogsDesc-focus,
[kw].sknLogsDesc-active {

















    font: normal 400 14.4px default;





    color: rgba(55, 65, 75, 0.6);












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLogsHeading,
[kw].sknLogsHeading-hover,
[kw].sknLogsHeading-focus,
[kw].sknLogsHeading-active {

















    font: normal 400 16.0px default;





    color: #37414b;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLogsOptionLabels,
[kw].sknLogsOptionLabels-hover,
[kw].sknLogsOptionLabels-focus,
[kw].sknLogsOptionLabels-active {

















    font: normal 400 16.0px default;





    color: #003e75;












    background: #ffffff;











}





















.sknLogsSeg,
li[kr='item'].sknLogsSeg-focus,
div[kr='item'].sknLogsSeg-focus,
[kw='SegmentedUI2']>ul.sknLogsSeg-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px default;





    color: #000000;













    background-color: #ffffff;











}





















.sknLogsSep,
[kw].sknLogsSep-hover,
[kw].sknLogsSep-focus,
[kw].sknLogsSep-active {










    border: 2px solid #788ea9;


















    font: normal 400 32.0px default;





    color: #333333;













    background-color: #788ea9;











}





















.sknLogsbtnClear0d82e40a361ac46,
[kw].sknLogsbtnClear0d82e40a361ac46-hover,
[kw].sknLogsbtnClear0d82e40a361ac46-focus,
[kw].sknLogsbtnClear0d82e40a361ac46-active {

















    font: normal 400 16.8px default;





    color: rgba(8, 8, 8, 0.55);












    background: #ffffff;











}





















.sknLogsbtnFullScreen0ea3e1515b1a541,
[kw].sknLogsbtnFullScreen0ea3e1515b1a541-hover,
[kw].sknLogsbtnFullScreen0ea3e1515b1a541-focus,
[kw].sknLogsbtnFullScreen0ea3e1515b1a541-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
















    font: normal 400 16.8px default;





    color: #d8d8d8;












    background: #d8d8d8;











}





















.sknSampleRowTemplate,
[kw].sknSampleRowTemplate-hover,
[kw].sknSampleRowTemplate-focus,
[kw].sknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSampleSectionHeaderTemplate,
[kw].sknSampleSectionHeaderTemplate-hover,
[kw].sknSampleSectionHeaderTemplate-focus,
[kw].sknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSectionHeaderLabelSkin,
[kw].sknSectionHeaderLabelSkin-hover,
[kw].sknSectionHeaderLabelSkin-focus,
[kw].sknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.sknTxtAreaBG788EA9Focus,
[kw].sknTxtAreaBG788EA9Focus-hover,
[kw].sknTxtAreaBG788EA9Focus-focus,
[kw].sknTxtAreaBG788EA9Focus-active {










    border: 1px solid rgba(75, 136, 241, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;












    background-color: rgba(120, 142, 169, 0.2);









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='sknTxtAreaBG788EA9Focus']::-webkit-input-placeholder {









    border: 1px solid rgba(75, 136, 241, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9Focus']::-moz-placeholder {









    border: 1px solid rgba(75, 136, 241, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9Focus']:-ms-input-placeholder {









    border: 1px solid rgba(75, 136, 241, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}







.sknTxtAreaBG788EA9Normal,
[kw].sknTxtAreaBG788EA9Normal-hover,
[kw].sknTxtAreaBG788EA9Normal-focus,
[kw].sknTxtAreaBG788EA9Normal-active {










    border: 1px solid rgba(255, 255, 255, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;












    background-color: rgba(120, 142, 169, 0.2);









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='sknTxtAreaBG788EA9Normal']::-webkit-input-placeholder {









    border: 1px solid rgba(255, 255, 255, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9Normal']::-moz-placeholder {









    border: 1px solid rgba(255, 255, 255, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9Normal']:-ms-input-placeholder {









    border: 1px solid rgba(255, 255, 255, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}







.sknTxtAreaBG788EA9PH,
[kw].sknTxtAreaBG788EA9PH-hover,
[kw].sknTxtAreaBG788EA9PH-focus,
[kw].sknTxtAreaBG788EA9PH-active {










    border: 1px solid rgba(120, 142, 169, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;












    background-color: rgba(120, 142, 169, 0.2);









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='sknTxtAreaBG788EA9PH']::-webkit-input-placeholder {









    border: 1px solid rgba(120, 142, 169, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9PH']::-moz-placeholder {









    border: 1px solid rgba(120, 142, 169, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='sknTxtAreaBG788EA9PH']:-ms-input-placeholder {









    border: 1px solid rgba(120, 142, 169, 0.0);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 17.1px sf-pro-text-regular;





    color: #788ea9;









    background-color: rgba(120, 142, 169, 0.2);






    -webkit-appearance: none;

}







.sknbtnAC,
[kw].sknbtnAC-hover,
[kw].sknbtnAC-focus,
[kw].sknbtnAC-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
















    font: normal 400 20.8px System;





    color: #ffffff;












    background: #003e75;











}





















.sknbtnCancelFP,
[kw].sknbtnCancelFP-hover,
[kw].sknbtnCancelFP-focus,
[kw].sknbtnCancelFP-active {










    border: 1px solid #969292;




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal 400 19.2px System;





    color: #969292;












    background: #ffffff;











}





















.sknbtnFPViewSrc,
[kw].sknbtnFPViewSrc-hover,
[kw].sknbtnFPViewSrc-focus,
[kw].sknbtnFPViewSrc-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
















    font: normal 400 17.9px System;





    color: #ffffff;












    background: rgba(255, 255, 255, 0.2);











}





















.sknbtnProceedFP,
[kw].sknbtnProceedFP-hover,
[kw].sknbtnProceedFP-focus,
[kw].sknbtnProceedFP-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal 400 19.2px System;





    color: #ffffff;












    background: #003e75;











}





















.sknflxLogs,
[kw].sknflxLogs-hover,
[kw].sknflxLogs-focus,
[kw].sknflxLogs-active {










    border: 0px solid rgba(0, 0, 0, 0.43);


















    color: #000000;













    background-color: #ffffff;











}





















.sknflxResetAlertFP,
[kw].sknflxResetAlertFP-hover,
[kw].sknflxResetAlertFP-focus,
[kw].sknflxResetAlertFP-active {










    border: 1px solid #000000;




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    color: #000000;













    background-color: #ffffff;











}





















.sknflxResetFP,
[kw].sknflxResetFP-hover,
[kw].sknflxResetFP-focus,
[kw].sknflxResetFP-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.5);











}





















.sknlblHeaderFP,
[kw].sknlblHeaderFP-hover,
[kw].sknlblHeaderFP-focus,
[kw].sknlblHeaderFP-active {

















    font: normal 400 20.8px System;





    color: #ffffff;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknlblHeaderTemenosBlue,
[kw].sknlblHeaderTemenosBlue-hover,
[kw].sknlblHeaderTemenosBlue-focus,
[kw].sknlblHeaderTemenosBlue-active {










    border: 1px solid rgba(255, 255, 255, -1.55);




    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
















    color: #000000;













    background-color: #003e75;











}





















.sknlblResetAlert1FP,
[kw].sknlblResetAlert1FP-hover,
[kw].sknlblResetAlert1FP-focus,
[kw].sknlblResetAlert1FP-active {

















    font: normal 400 20.8px System-Bold;





    color: #050505;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknlblResetAlert2FP,
[kw].sknlblResetAlert2FP-hover,
[kw].sknlblResetAlert2FP-focus,
[kw].sknlblResetAlert2FP-active {

















    font: normal 400 16.0px System;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknlblResetAlert3FP,
[kw].sknlblResetAlert3FP-hover,
[kw].sknlblResetAlert3FP-focus,
[kw].sknlblResetAlert3FP-active {

















    font: normal 400 16.0px System;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknlblSepSegFP,
[kw].sknlblSepSegFP-hover,
[kw].sknlblSepSegFP-focus,
[kw].sknlblSepSegFP-active {

















    font: normal 400 24.0px System;





    color: #333333;












    background-color: rgba(120, 142, 149, 0.3);











}





















.sknlblTemenosBlue,
[kw].sknlblTemenosBlue-hover,
[kw].sknlblTemenosBlue-focus,
[kw].sknlblTemenosBlue-active {

















    font: normal 400 16.0px System-Bold;





    color: #003e75;












    background-color: rgba(0, 0, 0, 0.0);











}





















.skntxtAreaFP,
[kw].skntxtAreaFP-hover,
[kw].skntxtAreaFP-focus,
[kw].skntxtAreaFP-active {










    border: 1px solid #333333;


















    font: normal 400 16.0px System;





    color: #ffffff;












    background-color: rgba(0, 0, 0, 0.9);









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='skntxtAreaFP']::-webkit-input-placeholder {









    border: 1px solid #333333;

















    font: normal 400 16.0px System;





    color: #ffffff;









    background-color: rgba(0, 0, 0, 0.9);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='skntxtAreaFP']::-moz-placeholder {









    border: 1px solid #333333;

















    font: normal 400 16.0px System;





    color: #ffffff;









    background-color: rgba(0, 0, 0, 0.9);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='skntxtAreaFP']:-ms-input-placeholder {









    border: 1px solid #333333;

















    font: normal 400 16.0px System;





    color: #ffffff;









    background-color: rgba(0, 0, 0, 0.9);






    -webkit-appearance: none;

}







.skntxtBoxFP,
[kw].skntxtBoxFP-hover,
[kw].skntxtBoxFP-focus,
[kw].skntxtBoxFP-active {










    border: 1px solid rgba(51, 51, 51, 0.7);


















    font: normal 400 16.0px iphoneSystem;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='skntxtBoxFP']::-webkit-input-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.7);

















    font: normal 400 16.0px iphoneSystem;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='skntxtBoxFP']::-moz-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.7);

















    font: normal 400 16.0px iphoneSystem;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='skntxtBoxFP']:-ms-input-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.7);

















    font: normal 400 16.0px iphoneSystem;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}








.slCameraFocus,
[kw].slCameraFocus-hover,
[kw].slCameraFocus-focus,
[kw].slCameraFocus-active {




























    background: url(../../images/camera_focus.png) no-repeat;












}





















.slDynamicNotificationForm,
[kw].slDynamicNotificationForm-hover,
[kw].slDynamicNotificationForm-focus,
[kw].slDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slFBlockedUIbox,
[kw].slFBlockedUIbox-hover,
[kw].slFBlockedUIbox-focus,
[kw].slFBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFFocusbox,
[kw].slFFocusbox-hover,
[kw].slFFocusbox-focus,
[kw].slFFocusbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFSBlockedUIbox,
[kw].slFSBlockedUIbox-hover,
[kw].slFSBlockedUIbox-focus,
[kw].slFSBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFSFocusSbox,
[kw].slFSFocusSbox-hover,
[kw].slFSFocusSbox-focus,
[kw].slFSFocusSbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFSbox,
[kw].slFSbox-hover,
[kw].slFSbox-focus,
[kw].slFSbox-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox,
[kw].slFbox-hover,
[kw].slFbox-focus,
[kw].slFbox-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox0j120281168d143,
[kw].slFbox0j120281168d143-hover,
[kw].slFbox0j120281168d143-focus,
[kw].slFbox0j120281168d143-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox1,
[kw].slFbox1-hover,
[kw].slFbox1-focus,
[kw].slFbox1-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}






















.slForm,
[kw].slForm-hover,
[kw].slForm-focus,
[kw].slForm-active {



























    background-color: #ffffff;











}





















.slImage,
[kw='Image2']>img.slImage-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}
























.slImage0ec814d65503e48,
[kw='Image2']>img.slImage0ec814d65503e48-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}

























.slSplashiOS,
[kw].slSplashiOS-hover,
[kw].slSplashiOS-focus,
[kw].slSplashiOS-active {



























    background-color: #000000;











}





















.slStaticNotificationForm,
[kw].slStaticNotificationForm-hover,
[kw].slStaticNotificationForm-focus,
[kw].slStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slTitleBar,
[kw].slTitleBar-hover,
[kw].slTitleBar-focus,
[kw].slTitleBar-active {

















    font: normal normal 16.0px System;





    color: #333333;













    background-color: #ffffff;











}






















.slWatchForm,
[kw].slWatchForm-hover,
[kw].slWatchForm-focus,
[kw].slWatchForm-active {



























    background-color: #000000;











}





















.sliPhoneSegmentHeader0h0f14cdbbb5445,
li[kr='item'].sliPhoneSegmentHeader0h0f14cdbbb5445-focus,
div[kr='item'].sliPhoneSegmentHeader0h0f14cdbbb5445-focus,
[kw='SegmentedUI2']>ul.sliPhoneSegmentHeader0h0f14cdbbb5445-active {










    border: 0px solid #000000;


















    font: normal normal 16.0px default;





    color: #000000;













    background-color: #a7a7a7;











}





















.theme_styles,
[kw].theme_styles-hover,
[kw].theme_styles-focus,
[kw].theme_styles-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}