.voltmxfw_baseskincss,
.CopydefBtnBlockedUI,
.CopydefBtnHover,
.CopydefBtnNormal0c81365fee1434d,
.CopydefBtnNormal0f740fef529b049,
.CopydefBtnPressed,
.defBtnBlockedUI,
.defBtnFocus,
.defBtnHover,
.defBtnNormal,
.defBtnPressed,
.CopydefLabel0bcbdedba55754f,
.CopydefLabel0fa216f2fffca40,
.CopysknLblDescription,
.CopysknLblRowHeading,
.CopysknLblStrip,
.CopysknLblTimeStamp,
.CopysknSectionHeaderLabelSkin,
.defLabel,
.sknLblDescription,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknSectionHeaderLabelSkin,
.CopydefListBoxNormal0e721fbdd56a949,
.CopydefListBoxNormal0ef6873927a9640,
.CopydefListBoxNormal0gc435b74cf9942,
.defListBoxFocus,
.CopydefTextAreaBlockedUI,
.CopydefTextAreaHover,
.defTextAreaBlockedUI,
.defTextAreaFocus,
.defTextAreaHover,
.defTextAreaPlaceholder,
.CopydefTextBoxBlockedUI,
.CopydefTextBoxPlaceholder0a062ec31146044,
.CopydefTextBoxPlaceholder0d403a91e4e4b4f,
.CopydefTextBoxPlaceholder0fdcea79d948c4a,
.CopydefTextBoxPlaceholder0fecf48d9ccf541,
.CopydefTextBoxPlaceholder0g36c304a09fc4a,
.CopydefTextBoxPlaceholder0g762f8b11c6644,
.CopydefTextBoxPlaceholder0j48fa5f313c348,
.defTextBoxBlockedUI,
.defTextBoxFocus,
.CopyslCameraFocus,
.slCameraFocus,
.CopyslForm,
.CopyslForm0d6543377233d46,
.CopyslSplashiOS,
.CopyslWatchForm,
.slForm,
.slSplashiOS,
.slWatchForm {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.voltmxcustomcss {
    font-size: 16px;

}





.CopydefBtnBlockedUI,
[kw].CopydefBtnBlockedUI-hover,
[kw].CopydefBtnBlockedUI-focus,
[kw].CopydefBtnBlockedUI-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #8F8F8F;












    background: #E6E6E6;











}





















.CopydefBtnHover,
[kw].CopydefBtnHover-hover,
[kw].CopydefBtnHover-focus,
[kw].CopydefBtnHover-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;











}





















.CopydefBtnNormal0c81365fee1434d,
[kw].CopydefBtnNormal0c81365fee1434d-hover,
[kw].CopydefBtnNormal0c81365fee1434d-focus,
[kw].CopydefBtnNormal0c81365fee1434d-active {










    border: 1px solid #4097f5;




    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
















    font: normal 500 24.0px Helvetica;





    color: #3486eb;












    background: #fcfcfc;











}





















.CopydefBtnNormal0f740fef529b049,
[kw].CopydefBtnNormal0f740fef529b049-hover,
[kw].CopydefBtnNormal0f740fef529b049-focus,
[kw].CopydefBtnNormal0f740fef529b049-active {

















































    border: 1px solid #ffffff;



    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #2090e6;
















}





















.CopydefBtnPressed,
[kw].CopydefBtnPressed-hover,
[kw].CopydefBtnPressed-focus,
[kw].CopydefBtnPressed-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #354958;











}





















.CopydefLabel0bcbdedba55754f,
[kw].CopydefLabel0bcbdedba55754f-hover,
[kw].CopydefLabel0bcbdedba55754f-focus,
[kw].CopydefLabel0bcbdedba55754f-active {

















    font: normal 400 14.1px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0fa216f2fffca40,
[kw].CopydefLabel0fa216f2fffca40-hover,
[kw].CopydefLabel0fa216f2fffca40-focus,
[kw].CopydefLabel0fa216f2fffca40-active {

















    font: normal 400 32.0px Helvetica;





    color: #267eeb;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefListBoxNormal0e721fbdd56a949,
[kw].CopydefListBoxNormal0e721fbdd56a949-hover,
[kw].CopydefListBoxNormal0e721fbdd56a949-focus,
[kw].CopydefListBoxNormal0e721fbdd56a949-active,
div[kw='ListBox'][kv='editableview']~ul>li.CopydefListBoxNormal0e721fbdd56a949-hover {

















































    border: 1px solid #333333;



    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;















    font: normal 400 13.0px Helvetica;





    color: #333333;













    background-color: #ffffff;














}


























.CopydefListBoxNormal0ef6873927a9640,
[kw].CopydefListBoxNormal0ef6873927a9640-hover,
[kw].CopydefListBoxNormal0ef6873927a9640-focus,
[kw].CopydefListBoxNormal0ef6873927a9640-active,
div[kw='ListBox'][kv='editableview']~ul>li.CopydefListBoxNormal0ef6873927a9640-hover {

















































    border: 1px solid #333333;



    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;















    font: normal 400 13.0px Helvetica;





    color: #333333;













    background-color: #ffffff;














}


























.CopydefListBoxNormal0gc435b74cf9942,
[kw].CopydefListBoxNormal0gc435b74cf9942-hover,
[kw].CopydefListBoxNormal0gc435b74cf9942-focus,
[kw].CopydefListBoxNormal0gc435b74cf9942-active,
div[kw='ListBox'][kv='editableview']~ul>li.CopydefListBoxNormal0gc435b74cf9942-hover {

















































    border: 1px solid #333333;



    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;















    font: normal 400 13.0px Helvetica;





    color: #333333;













    background-color: #ffffff;














}


























.CopydefTextAreaBlockedUI,
[kw].CopydefTextAreaBlockedUI-hover,
[kw].CopydefTextAreaBlockedUI-focus,
[kw].CopydefTextAreaBlockedUI-active {










    border: 1px solid #ADADAD;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #F3F3F3;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='CopydefTextAreaBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='CopydefTextAreaBlockedUI']::-moz-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='CopydefTextAreaBlockedUI']:-ms-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}







.CopydefTextAreaHover,
[kw].CopydefTextAreaHover-hover,
[kw].CopydefTextAreaHover-focus,
[kw].CopydefTextAreaHover-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='CopydefTextAreaHover']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='CopydefTextAreaHover']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='CopydefTextAreaHover']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}



.CopydefTextAreaNormal0bda690ce98f540,
[kw].CopydefTextAreaNormal0bda690ce98f540-hover,
[kw].CopydefTextAreaNormal0bda690ce98f540-focus,
[kw].CopydefTextAreaNormal0bda690ce98f540-active {
    background-color: #ffffff !important;
    border: 1px solid #d6d6d6 !important;
    border-radius: 8px !important;
    padding: 10px 14px !important;
    font-size: 14px !important;
    color: #000000 !important;
    box-shadow: none !important;
}




.CopydefTextBoxBlockedUI,
[kw].CopydefTextBoxBlockedUI-hover,
[kw].CopydefTextBoxBlockedUI-focus,
[kw].CopydefTextBoxBlockedUI-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #f3f3f3;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxBlockedUI']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxBlockedUI']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0a062ec31146044,
[kw].CopydefTextBoxPlaceholder0a062ec31146044-hover,
[kw].CopydefTextBoxPlaceholder0a062ec31146044-focus,
[kw].CopydefTextBoxPlaceholder0a062ec31146044-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0a062ec31146044']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0a062ec31146044']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0a062ec31146044']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0d403a91e4e4b4f,
[kw].CopydefTextBoxPlaceholder0d403a91e4e4b4f-hover,
[kw].CopydefTextBoxPlaceholder0d403a91e4e4b4f-focus,
[kw].CopydefTextBoxPlaceholder0d403a91e4e4b4f-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0d403a91e4e4b4f']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0d403a91e4e4b4f']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0d403a91e4e4b4f']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0fdcea79d948c4a,
[kw].CopydefTextBoxPlaceholder0fdcea79d948c4a-hover,
[kw].CopydefTextBoxPlaceholder0fdcea79d948c4a-focus,
[kw].CopydefTextBoxPlaceholder0fdcea79d948c4a-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0fdcea79d948c4a']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0fdcea79d948c4a']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0fdcea79d948c4a']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0fecf48d9ccf541,
[kw].CopydefTextBoxPlaceholder0fecf48d9ccf541-hover,
[kw].CopydefTextBoxPlaceholder0fecf48d9ccf541-focus,
[kw].CopydefTextBoxPlaceholder0fecf48d9ccf541-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0fecf48d9ccf541']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0fecf48d9ccf541']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0fecf48d9ccf541']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0g36c304a09fc4a,
[kw].CopydefTextBoxPlaceholder0g36c304a09fc4a-hover,
[kw].CopydefTextBoxPlaceholder0g36c304a09fc4a-focus,
[kw].CopydefTextBoxPlaceholder0g36c304a09fc4a-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0g36c304a09fc4a']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0g36c304a09fc4a']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0g36c304a09fc4a']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0g762f8b11c6644,
[kw].CopydefTextBoxPlaceholder0g762f8b11c6644-hover,
[kw].CopydefTextBoxPlaceholder0g762f8b11c6644-focus,
[kw].CopydefTextBoxPlaceholder0g762f8b11c6644-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0g762f8b11c6644']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0g762f8b11c6644']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0g762f8b11c6644']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxPlaceholder0j48fa5f313c348,
[kw].CopydefTextBoxPlaceholder0j48fa5f313c348-hover,
[kw].CopydefTextBoxPlaceholder0j48fa5f313c348-focus,
[kw].CopydefTextBoxPlaceholder0j48fa5f313c348-active {

















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxPlaceholder0j48fa5f313c348']::-webkit-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0j48fa5f313c348']::-moz-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxPlaceholder0j48fa5f313c348']:-ms-input-placeholder {















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopysknLblDescription,
[kw].CopysknLblDescription-hover,
[kw].CopysknLblDescription-focus,
[kw].CopysknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopysknLblRowHeading,
[kw].CopysknLblRowHeading-hover,
[kw].CopysknLblRowHeading-focus,
[kw].CopysknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.CopysknLblStrip,
[kw].CopysknLblStrip-hover,
[kw].CopysknLblStrip-focus,
[kw].CopysknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.CopysknLblTimeStamp,
[kw].CopysknLblTimeStamp-hover,
[kw].CopysknLblTimeStamp-focus,
[kw].CopysknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopysknSampleRowTemplate,
[kw].CopysknSampleRowTemplate-hover,
[kw].CopysknSampleRowTemplate-focus,
[kw].CopysknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.CopysknSampleSectionHeaderTemplate,
[kw].CopysknSampleSectionHeaderTemplate-hover,
[kw].CopysknSampleSectionHeaderTemplate-focus,
[kw].CopysknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.CopysknSectionHeaderLabelSkin,
[kw].CopysknSectionHeaderLabelSkin-hover,
[kw].CopysknSectionHeaderLabelSkin-focus,
[kw].CopysknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.CopyslCameraFocus,
[kw].CopyslCameraFocus-hover,
[kw].CopyslCameraFocus-focus,
[kw].CopyslCameraFocus-active {




























    background: url(../../images/camera_focus.png) no-repeat;












}





















.CopyslDynamicNotificationForm,
[kw].CopyslDynamicNotificationForm-hover,
[kw].CopyslDynamicNotificationForm-focus,
[kw].CopyslDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.CopyslFBlockedUIbox,
[kw].CopyslFBlockedUIbox-hover,
[kw].CopyslFBlockedUIbox-focus,
[kw].CopyslFBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.CopyslFFocusbox,
[kw].CopyslFFocusbox-hover,
[kw].CopyslFFocusbox-focus,
[kw].CopyslFFocusbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}

















.CopyslFFocusbox0d8042080473a4e,
[kw].CopyslFFocusbox0d8042080473a4e-hover,
[kw].CopyslFFocusbox0d8042080473a4e-focus,
[kw].CopyslFFocusbox0d8042080473a4e-active {
    top: 152px;
    left: 20px;
    width: 1400px;
    height: 1128px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029,
        border: 1px solid #F2F2F2;
    border-radius: 6px;
    opacity: 1;

}




.CopyslFSBlockedUIbox,
[kw].CopyslFSBlockedUIbox-hover,
[kw].CopyslFSBlockedUIbox-focus,
[kw].CopyslFSBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.CopyslFSFocusSbox,
[kw].CopyslFSFocusSbox-hover,
[kw].CopyslFSFocusSbox-focus,
[kw].CopyslFSFocusSbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0a5402e4bab254b,
[kw].CopyslFbox0a5402e4bab254b-hover,
[kw].CopyslFbox0a5402e4bab254b-focus,
[kw].CopyslFbox0a5402e4bab254b-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0ae338992c3a449,
[kw].CopyslFbox0ae338992c3a449-hover,
[kw].CopyslFbox0ae338992c3a449-focus,
[kw].CopyslFbox0ae338992c3a449-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0b18754cedbfa4b,
[kw].CopyslFbox0b18754cedbfa4b-hover,
[kw].CopyslFbox0b18754cedbfa4b-focus,
[kw].CopyslFbox0b18754cedbfa4b-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0b24327a38b394a,
[kw].CopyslFbox0b24327a38b394a-hover,
[kw].CopyslFbox0b24327a38b394a-focus,
[kw].CopyslFbox0b24327a38b394a-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0b9888c5336e349,
[kw].CopyslFbox0b9888c5336e349-hover,
[kw].CopyslFbox0b9888c5336e349-focus,
[kw].CopyslFbox0b9888c5336e349-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0bea8397d74064c,
[kw].CopyslFbox0bea8397d74064c-hover,
[kw].CopyslFbox0bea8397d74064c-focus,
[kw].CopyslFbox0bea8397d74064c-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0daa9762b63ac41,
[kw].CopyslFbox0daa9762b63ac41-hover,
[kw].CopyslFbox0daa9762b63ac41-focus,
[kw].CopyslFbox0daa9762b63ac41-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0f4f8607803d649,
[kw].CopyslFbox0f4f8607803d649-hover,
[kw].CopyslFbox0f4f8607803d649-focus,
[kw].CopyslFbox0f4f8607803d649-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0f61de43d503649,
[kw].CopyslFbox0f61de43d503649-hover,
[kw].CopyslFbox0f61de43d503649-focus,
[kw].CopyslFbox0f61de43d503649-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0fefa3fe6629949,
[kw].CopyslFbox0fefa3fe6629949-hover,
[kw].CopyslFbox0fefa3fe6629949-focus,
[kw].CopyslFbox0fefa3fe6629949-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0g5540388ece241,
[kw].CopyslFbox0g5540388ece241-hover,
[kw].CopyslFbox0g5540388ece241-focus,
[kw].CopyslFbox0g5540388ece241-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0ga36ab7ba47a49,
[kw].CopyslFbox0ga36ab7ba47a49-hover,
[kw].CopyslFbox0ga36ab7ba47a49-focus,
[kw].CopyslFbox0ga36ab7ba47a49-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0h712666f3cd64c,
[kw].CopyslFbox0h712666f3cd64c-hover,
[kw].CopyslFbox0h712666f3cd64c-focus,
[kw].CopyslFbox0h712666f3cd64c-active {










    border: 0px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}

















.CopyslFbox0ha1266afa03742,
[kw].CopyslFbox0ha1266afa03742-hover,
[kw].CopyslFbox0ha1266afa03742-focus,
[kw].CopyslFbox0ha1266afa03742-active {
    display: flex;
    max-width: 90%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 10px solid #F2F2F2;
    border-radius: 6px;
    opacity: 1;
}





.CopyslForm,
[kw].CopyslForm-hover,
[kw].CopyslForm-focus,
[kw].CopyslForm-active {



























    background-color: #ffffff;











}






















.CopyslForm0d6543377233d46,
[kw].CopyslForm0d6543377233d46-hover,
[kw].CopyslForm0d6543377233d46-focus,
[kw].CopyslForm0d6543377233d46-active {























































    background-color: #9c989c;














}






















.CopyslSplashiOS,
[kw].CopyslSplashiOS-hover,
[kw].CopyslSplashiOS-focus,
[kw].CopyslSplashiOS-active {



























    background-color: #000000;











}





















.CopyslStaticNotificationForm,
[kw].CopyslStaticNotificationForm-hover,
[kw].CopyslStaticNotificationForm-focus,
[kw].CopyslStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.CopyslTitleBar,
[kw].CopyslTitleBar-hover,
[kw].CopyslTitleBar-focus,
[kw].CopyslTitleBar-active {

















    font: normal normal 16.0px System;





    color: #333333;













    background-color: #ffffff;











}






















.CopyslWatchForm,
[kw].CopyslWatchForm-hover,
[kw].CopyslWatchForm-focus,
[kw].CopyslWatchForm-active {



























    background-color: #000000;











}

















.TextFieldPincode,
[kw].TextFieldPincode-hover,
[kw].TextFieldPincode-focus,
[kw].TextFieldPincode-active {
    background-color: #ffffff !important;
    border: 1px solid #d6d6d6 !important;
    border-radius: 8px !important;
    padding: 10px 14px !important;
    font-size: 14px !important;
    color: #000000 !important;
    box-shadow: none !important;

}




.defBtnBlockedUI,
[kw].defBtnBlockedUI-hover,
[kw].defBtnBlockedUI-focus,
[kw].defBtnBlockedUI-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #8F8F8F;












    background: #E6E6E6;











}





















.defBtnFocus,
[kw].defBtnFocus-hover,
[kw].defBtnFocus-focus,
[kw].defBtnFocus-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #7E909E;











}





















.defBtnHover,
[kw].defBtnHover-hover,
[kw].defBtnHover-focus,
[kw].defBtnHover-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;











}





















.defBtnNormal,
[kw].defBtnNormal-hover,
[kw].defBtnNormal-focus,
[kw].defBtnNormal-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #587387;











}





















.defBtnPressed,
[kw].defBtnPressed-hover,
[kw].defBtnPressed-focus,
[kw].defBtnPressed-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #354958;











}





















.defLabel,
[kw].defLabel-hover,
[kw].defLabel-focus,
[kw].defLabel-active {










    border: 1px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defListBoxFocus,
[kw].defListBoxFocus-hover,
[kw].defListBoxFocus-focus,
[kw].defListBoxFocus-active,
div[kw='ListBox'][kv='editableview']~ul>li.defListBoxFocus-hover {










    border: 1px solid #4b88f1;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;











}


























.defTextAreaBlockedUI,
[kw].defTextAreaBlockedUI-hover,
[kw].defTextAreaBlockedUI-focus,
[kw].defTextAreaBlockedUI-active {










    border: 1px solid #ADADAD;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #F3F3F3;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']::-moz-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']:-ms-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}







.defTextAreaFocus,
[kw].defTextAreaFocus-hover,
[kw].defTextAreaFocus-focus,
[kw].defTextAreaFocus-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaFocus']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaFocus']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaFocus']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}







.defTextAreaHover,
[kw].defTextAreaHover-hover,
[kw].defTextAreaHover-focus,
[kw].defTextAreaHover-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaHover']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}







.defTextAreaPlaceholder,
[kw].defTextAreaPlaceholder-hover,
[kw].defTextAreaPlaceholder-focus,
[kw].defTextAreaPlaceholder-active {

















    font: normal 400 17.1px Helvetica;





    color: #999999;












    background-color: rgba(255, 255, 255, 0.0);









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaPlaceholder']::-webkit-input-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaPlaceholder']::-moz-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaPlaceholder']:-ms-input-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}







.defTextBoxBlockedUI,
[kw].defTextBoxBlockedUI-hover,
[kw].defTextBoxBlockedUI-focus,
[kw].defTextBoxBlockedUI-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #f3f3f3;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}








.defTextBoxFocus,
[kw].defTextBoxFocus-hover,
[kw].defTextBoxFocus-focus,
[kw].defTextBoxFocus-active {










    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxFocus']::-webkit-input-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']::-moz-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']:-ms-input-placeholder {









    border: 1px solid #14A1DE;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.sknLblDescription,
[kw].sknLblDescription-hover,
[kw].sknLblDescription-focus,
[kw].sknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblRowHeading,
[kw].sknLblRowHeading-hover,
[kw].sknLblRowHeading-focus,
[kw].sknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.sknLblStrip,
[kw].sknLblStrip-hover,
[kw].sknLblStrip-focus,
[kw].sknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.sknLblTimeStamp,
[kw].sknLblTimeStamp-hover,
[kw].sknLblTimeStamp-focus,
[kw].sknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknSampleRowTemplate,
[kw].sknSampleRowTemplate-hover,
[kw].sknSampleRowTemplate-focus,
[kw].sknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSampleSectionHeaderTemplate,
[kw].sknSampleSectionHeaderTemplate-hover,
[kw].sknSampleSectionHeaderTemplate-focus,
[kw].sknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSectionHeaderLabelSkin,
[kw].sknSectionHeaderLabelSkin-hover,
[kw].sknSectionHeaderLabelSkin-focus,
[kw].sknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.slCameraFocus,
[kw].slCameraFocus-hover,
[kw].slCameraFocus-focus,
[kw].slCameraFocus-active {




























    background: url(../../images/camera_focus.png) no-repeat;












}





















.slDynamicNotificationForm,
[kw].slDynamicNotificationForm-hover,
[kw].slDynamicNotificationForm-focus,
[kw].slDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slFBlockedUIbox,
[kw].slFBlockedUIbox-hover,
[kw].slFBlockedUIbox-focus,
[kw].slFBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFFocusbox,
[kw].slFFocusbox-hover,
[kw].slFFocusbox-focus,
[kw].slFFocusbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFSBlockedUIbox,
[kw].slFSBlockedUIbox-hover,
[kw].slFSBlockedUIbox-focus,
[kw].slFSBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFSFocusSbox,
[kw].slFSFocusSbox-hover,
[kw].slFSFocusSbox-focus,
[kw].slFSFocusSbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox,
[kw].slFbox-hover,
[kw].slFbox-focus,
[kw].slFbox-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}






















.slForm,
[kw].slForm-hover,
[kw].slForm-focus,
[kw].slForm-active {



























    background-color: #ffffff;











}






















.slSplashiOS,
[kw].slSplashiOS-hover,
[kw].slSplashiOS-focus,
[kw].slSplashiOS-active {



























    background-color: #000000;











}





















.slStaticNotificationForm,
[kw].slStaticNotificationForm-hover,
[kw].slStaticNotificationForm-focus,
[kw].slStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slTitleBar,
[kw].slTitleBar-hover,
[kw].slTitleBar-focus,
[kw].slTitleBar-active {

















    font: normal normal 16.0px System;





    color: #333333;













    background-color: #ffffff;











}






















.slWatchForm,
[kw].slWatchForm-hover,
[kw].slWatchForm-focus,
[kw].slWatchForm-active {



























    background-color: #000000;











}





















.theme_styles,
[kw].theme_styles-hover,
[kw].theme_styles-focus,
[kw].theme_styles-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}